.contact-container {
    background: linear-gradient(180deg, black, #141a20 100%);
    font-family: 'Anton', sans-serif;
    height: 80vh;
    padding: 15%;
    padding-top: 24px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
}

.contact body, .contact button, .contact input, .contact textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}


.contact {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.contact-item {
    flex: 1;
    display: flex;
    padding: 50px;
}

.contact-item.left {
    display: flex;
    flex-direction: column;
}

.contact-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 92px;
}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
}

.contact-info {
    margin-top: auto;
    font-size: 8px;
    color: #888;
}

.contact-form-group {
    margin-bottom: 15px;
}

.contact-form-group.message {
    margin-top: 40px;
}

.contact-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.contact-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
}

.contact-form-control::placeholder {
    color: #666;
}

.contact-form-control:focus {
    border-bottom-color: #ddd;
}

.contact-form-control.is-invalid {
    border-bottom: 1px solid #ea1d6f;  
}
.contact-form-control.is-invalid::placeholder {
    color: #ea1d6f;
}

.contact-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 24px;
    outline: none;
}

.contact-form-button:not(.disabled) {
    cursor: pointer;
}

.contact-form-button.hide {
    display: none;
}

.contact-form-button:not(.disabled):hover {
    color: #b9134f;
}

@media screen and (max-width: 520px) {
    .contact {
        flex-direction: column;
    }

    .contact-item.left {
        margin-bottom: 30px;
    }

    .contact-title {
        flex-direction: row;
    }

    .contact-title span {
        margin-right: 12px;
    }

    .contact-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .contact {
        padding: 40px;
    }

    .contact-item {
        padding: 0;
    }
}

.mail-feedback {
    color: #ea1d6f;
    display: flex;
    flex-direction: column;
    align-items: end
}

.mail-feedback.hide {
    display: none;
}

/** Checkbox success mail feedback */
.checkmark {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin-right: 24px;
    box-shadow: inset 0px 0px 0px #ea1d6f;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #ea1d6f;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark-check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #ea1d6f;
    }
}

/** Cross error mail feedback */
.crossmark-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #ea1d6f;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
  
.crossmark {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #ea1d6f;
    stroke-miterlimit: 10;
    margin-right: 24px;
    box-shadow: inset 0px 0px 0px #ea1d6f;
    animation: fillred .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.crossmark-check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.cross-path {
    stroke: #ffffff;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    transform-origin: 50% 50% 0;
}
.cross-path-right {
    animation: 0.3s ease 0.8s normal forwards 1 running stroke;
}
.cross-path-left {
    animation: 1s ease 0.8s normal forwards 1 running stroke;
}
@keyframes fillred {
    100% {
        box-shadow: inset 0px 0px 0px 30px #ea1d6f;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}